doctype
html(lang='en')
    head
        meta(charset='utf-8')
        link(rel="stylesheet" href="app.css")
        title
    body
        .wrapper
            .bone.bone1
            .bone.bone2
            .bone.bone3
            .bone.bone4
            .skull
            .teeth
                .tooth.tooth1
                .tooth.tooth2
                .tooth.tooth3