doctype
html(lang='en')
    head
        meta(charset='utf-8')
        link(rel="stylesheet" href="app.css")
        title
    body
        .wrapper
            - var n = 0
            while n++ < 3
                div(class='bar bar-' + n)
                    div(class='circle')