doctype
html(lang='en')
    head
        meta(charset='utf-8')
        link(rel="stylesheet" href="app.css")
        title
    body
        .wrapper
            .line.line-1
                .item.ball.ball-1
                .item.cup.down.cup-1
                .item.cup.down.cup-2
                .item.ball.ball-2
            .line.line-2
                .item.cup.up.cup-1
                .item.ball.ball-1
                .item.ball.ball-2
                .item.cup.up.cup-2