doctype
html(lang='en')
    head
        meta(charset='utf-8')
        link(href='app.css' rel='stylesheet')
        title Ukulele
    body
        .wrapper
            .circle-container
                .lg-circle
                .xm-circle
                    .xs-circle
            .guitare-hand
                .guitare-hand-end 