doctype
html(lang='en')
    head
        meta(charset='utf-8')
        link(rel="stylesheet" href="app.css")
        title
    body
        .wrapper
            .disk.disk1
            .disk.disk2
            .disk.disk3
            .disk.disk4