doctype
html(lang='en')
    head
        meta(charset='utf-8')
        link(rel="stylesheet" href="app.css")
        title
    body
        .wrapper
            .line.line1
            .line.line2
            .line.line3
            .line.line4
            .line.line5
            .line.line6
            .line.line7