doctype
html(lang='en')
    head
        meta(charset='utf-8')
        link(rel="stylesheet" href="app.css")
        title
    body
        .square.square1
        .square.square2
        .square.square3
        .square.square4