doctype
html(lang='en')
    head
        meta(charset='utf-8')
        link(rel="stylesheet" href="app.css")
        title
    body
        .wrapper
            .stick.stick1
            .stick.stick2
            .stick.stick3
            .stick.stick4