doctype
html(lang='en')
    head
        meta(charset='utf-8')
        link(rel="stylesheet" href="app.css")
        title
    body
        .wrapper 
            .window
                .sun
                .hill.hill-1
                .hill.hill-2