doctype
html(lang='en')
    head
        meta(charset='utf-8')
        link(rel="stylesheet" href="app.css")
        title
    body
        .wrapper
            .left
                .ear
            .head
                .eyes
                    .left-eye.eye
                    .right-eye.eye
                .nose-wrapper
                    .nose
                    .nose-line
            .right
                .ear