doctype
html(lang='en')
    head
        meta(charset='utf-8')
        link(rel="stylesheet" href="app.css")
        title
    body
        .wrapper
            .side.left.left-1
            .side.left.left-2
            .side.right.right-1
            .side.right.right-2